<img align="right" width="400" src="https://www.fhnw.ch/de/++theme++web16theme/assets/media/img/fachhochschule-nordwestschweiz-fhnw-logo.svg" alt="FHNW Logo">


# German News Articles

by Joel Akeret and Fabian Märki

## Summary
This is a short intro on how to access the *Ten Thousand German News Articles Dataset* for the *default project* (we still encourage you to work with your own dataset).

## Links
- [Ten Thousand German News Articles Dataset](https://tblock.github.io/10kGNAD/)

<a href="https://colab.research.google.com/github/markif/2024_HS_DAS_NLP_Notebooks/blob/master/XX_German_News_Article.ipynb">
  <img align="left" src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

In [1]:
%%capture

!pip install 'fhnw-nlp-utils>=0.9.8,<0.10.0'

from fhnw.nlp.utils.processing import parallelize_dataframe
from fhnw.nlp.utils.processing import is_iterable
from fhnw.nlp.utils.storage import download
from fhnw.nlp.utils.storage import save_dataframe
from fhnw.nlp.utils.storage import load_dataframe

import pandas as pd
import numpy as np

We recommend to use the stratified train/test split proposed by the maintainer of the dataset.

In [2]:
file = "data/german_news_articles_original_train.parq"
download("https://drive.switch.ch/index.php/s/mRnuzx4BLpMLqyz/download", file)
data_train = load_dataframe(file)

file = "data/german_news_articles_original_test.parq"
download("https://drive.switch.ch/index.php/s/DKUnZraeGp3EIK3/download", file)
data_test = load_dataframe(file)

Get a first impression...

In [3]:
print(data_train.shape)
print(data_test.shape)

(9245, 2)
(1028, 2)

In [4]:
data_train["split"] = "train"
data_test["split"] = "test"

In [5]:
data_train.head(3)

                                       text_original   label  split
0  21-Jähriger fällt wohl bis Saisonende aus. Wie...   Sport  train
1  Erfundene Bilder zu Filmen, die als verloren g...  Kultur  train
2  Der frischgekürte CEO Sundar Pichai setzt auf ...     Web  train

In [6]:
data_test.head(3)

                                       text_original       label split
0  Die Gewerkschaft GPA-djp lanciert den "All-in-...  Wirtschaft  test
1  Franzosen verteidigen 2:1-Führung – Kritische ...       Sport  test
2  Neues Video von Designern macht im Netz die Ru...         Web  test

In [7]:
data_all = pd.concat([data_train, data_test])
data = data_train

In [8]:
data.head(3)

                                       text_original   label  split
0  21-Jähriger fällt wohl bis Saisonende aus. Wie...   Sport  train
1  Erfundene Bilder zu Filmen, die als verloren g...  Kultur  train
2  Der frischgekürte CEO Sundar Pichai setzt auf ...     Web  train